body{
  display:flex;
  justify-content:center;
  margin:auto;}
#right{
  background-color:#9cb9c7;
  height:500px;
}
#color{
  height:500px;
  width: 400px;
}
#house{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:300px;
  position:relative;
  top:25%;
}
h1{
text-align:center;
width:350px;
margin:auto;
color:white;
position:relative;
top:25%;
}
