body {
	margin: 0px;
	font-family: "Open Sans", sans-serif;
	color: whitesmoke;
}

.container {
	display: grid;
	height: 100vh;
	grid-template-columns: auto auto;
}

.left-side {
	display: grid;
	justify-content: center;
	align-content: center;
}
#leftbg {
	height: 100%;
	width: 100%;
}
.right-side {
	display: grid;
	justify-content: center;
	align-content: center;
}

.displayCard {
	text-align: center;
}

img {
	width: 400px;
	height: 300px;
	border-radius: 50px;
}

